<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <RollingFile name="RollingFileServices" fileName="logs/services.log"
                     filePattern="logs/$${date:yyyy-MM}/services-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <DefaultRolloverStrategy max="20"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="2 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="RollingFileRestListener" fileName="logs/RestListener.log"
                     filePattern="logs/$${date:yyyy-MM}/RestListener-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <DefaultRolloverStrategy max="20"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="2 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="RollingFileAuthentication" fileName="logs/authentication.log"
                     filePattern="logs/$${date:yyyy-MM}/authentication-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <DefaultRolloverStrategy max="20"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="2 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="RollingFileOtherLogs" fileName="logs/log.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <DefaultRolloverStrategy max="20"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="2 MB"/>
            </Policies>
        </RollingFile>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="ua.javarush.eldidenko.hibernate_todo_app.Main" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFileServices"/>
        </Logger>

        <Logger name="ua.javarush.eldidenko.hibernate_todo_app.migration.LiquibaseConfiguration" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFileServices"/>
        </Logger>

        <Logger name="ua.javarush.eldidenko.hibernate_todo_app.rest.Listener.UserListener" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFileRestListener"/>
        </Logger>

        <Logger name="ua.javarush.eldidenko.hibernate_todo_app.rest.AuthenticationEndpoint" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFileAuthentication"/>
        </Logger>

        <Root level="warn">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFileOtherLogs"/>
        </Root>
    </Loggers>
</Configuration>
